div(ng-include='"components/navbar/navbar.html"')
form.form-horizontal(role="form", name="newBounceForm",novalidate, ng-submit="submit()")
	.container
		.row
			.col-lg-12.text-center.vertical-spacer
				h1 Create your own Bounce
				h4 Just provide the required stuff below and you are almost done!


		.row.col-lg-12.text-center.alert.alert-danger(ng-show="newBounceForm.hadErrors")
			span Bummer, you utterly failed

		.row.form-group
			.col-sm-3.text-sm-right.col-sm-offset-1
				label.control-label Remind me in:
			.col-sm-5
				select.form-control(name="durationAmount")
					each amount in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
						option(value="#{amount}", ng-model="bounce.amount") #{amount}
				select.form-control(name="durationUnit")
					each unit in ["hours","days","weeks","months"]
						option(value="#{unit}", ng-model="bounce.units") #{unit}

		.row.form-group(ng-class="{'has-error': newBounceForm.hadErrors && newBounceForm.topic.$invalid}")
			.col-sm-3.text-sm-right.col-sm-offset-1
				label.control-label(for="topic") Remind me of:
			.col-sm-5
				input.form-control(.
					type="text", 
					placeholder="bounce topic", 
					name="topic", 
					ng-model="bounce.topic", 
					required, ng-minlength=4, ng-maxlength=120)
				span.help-block(ng-show="newBounceForm.hadErrors && newBounceForm.topic.$error.required") Required value
				span.help-block(ng-show="newBounceForm.hadErrors && newBounceForm.topic.$error.minlength") Too short
				span.help-block(ng-show="newBounceForm.hadErrors && newBounceForm.topic.$error.maxlength") Too long
		
		
		.row.form-group(ng-class="{'has-error': newBounceForm.hadErrors && newBounceForm.email.$invalid}")
			.col-sm-3.text-sm-right.col-sm-offset-1
				label.control-label(for="email") Remind me to:
			.col-sm-5
				input.form-control(.
					type="email", 
					placeholder="your email", 
					name="email", 
					ng-model="bounce.email",
					required)
				span.help-block(ng-show="newBounceForm.hadErrors && newBounceForm.email.$invalid") Invalid email

		.row
			.col-sm-10.col-sm-offset-3
				<button type="submit" class="button radius">Set bounce on {{target}}</button>
	

